.header
  - if flash[:notice]
    .notice= flash[:notice]

  - if @current_user
    %span Hi #{@current_user.name}
    = form_tag(controller:"user_sessions", action:"destroy", method:"delete") do
      = submit_tag "Log out"
  - else
    %span
      = link_to "Sign up", new_user_path
      or
      = link_to "login", login_path